@page
@model DataCapture.Pages.CustomerData.CustomersModel
@{
    ViewData["Title"] = "Customers";
}

<div class="text-center">
    <h1>View Customer Details</h1>
    <hr />

    <p>Organised according to last name.</p>
</div>

<div class="col-md-12 row">    
    <div class="col-md-4">
        <h4>A-H</h4>
        <hr />
        @foreach (var customer in Model.Customers_A_To_H)
        {
            <p><a asp-page="Details" asp-route-id="@customer.Id">@customer.FullName</a></p>
        }
    </div>

    <div class="col-md-4">
        <h4>I-P</h4>
        <hr />
        @foreach (var customer in Model.Customers_I_To_P)
        {
            <p><a asp-page="Details" asp-route-id="@customer.Id">@customer.FullName</a></p>
        }
    </div>

    <div class="col-md-4">
        <h4>Q-Z</h4>
        <hr />
        @foreach (var customer in Model.Customers_Q_To_Z)
        {
            <p><a asp-page="Details" asp-route-id="@customer.Id">@customer.FullName</a></p>
        }
    </div>
</div>

@if (Model.ErrorMsg != null) 
{
    <div class="text-center">
        <h4 style="color: red">
            @Model.ErrorMsg
        </h4>
    </div>
}
