@page
@model DataCapture.Pages.CustomerData.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.CustomerDetails.FullName</h1>

<div class="col-sm-12">
    <div class="detailsSection">
        <h4 class="botBorder">Personal Details:</h4>
        <div class="field">
            <p class="labelContent">
                @Html.DisplayNameFor(model => model.CustomerDetails.FirstName)
            </p>
            <p class="personContent">
                @Html.DisplayFor(model => model.CustomerDetails.FirstName)
            </p>
        </div>
        <div class="field">
            <p class="labelContent">
                @Html.DisplayNameFor(model => model.CustomerDetails.LastName)
            </p>
            <p class="personContent">
                @Html.DisplayFor(model => model.CustomerDetails.LastName)
            </p>
        </div>
        <div class="field">
            <p class="labelContent">
                @Html.DisplayNameFor(model => model.CustomerDetails.DateOfBirth)
            </p>
            <p class="personContent">
                @Html.DisplayFor(model => model.CustomerDetails.DateOfBirth)
            </p>
        </div>
        <div class="field">
            <p class="labelContent">
                @Html.DisplayNameFor(model => model.CustomerDetails.Age)
            </p>
            <p class="personContent">
                @Html.DisplayFor(model => model.CustomerDetails.Age)
            </p>
        </div>
    </div>
    <div class="detailsSection">
        <h4 class="botBorder">@Html.DisplayNameFor(model => model.CustomerDetails.PhoneNumber)</h4>
        <div class="field">
            <p class="labelContent">
                Number:
            </p>
            <p class="personContent">
                @Html.DisplayFor(model => model.CustomerDetails.PhoneNumber)
            </p>
        </div>
    </div>
    <div class="detailsSection">
        <h4 class="botBorder">@Html.DisplayNameFor(model => model.CustomerDetails.DriversLicenseNumber)</h4>
        <div class="field">
            <p class="labelContent">
                Number:
            </p>
            <p class="personContent">
                @Html.DisplayFor(model => model.CustomerDetails.DriversLicenseNumber)
            </p>
        </div>
    </div>
    <div class="detailsSection botBorder">
        <h4 class="botBorder">@Html.DisplayNameFor(model => model.CustomerDetails.StreetAddress)</h4>
        <div class="field">
            <p class="labelContent">
                Address:
            </p>
            <p class="personContent">
                @Html.DisplayFor(model => model.CustomerDetails.StreetAddress)
            </p>
        </div>
    </div>
</div>

<br />


<div>
    <a asp-page="Customers">Back to List</a>
</div>
